extends ../layout

block content
    h1 Collections
    table
        tr
            th ConceptId
            th EntryTitle
            th Link
        tbody
         each dataset in datasets
            tr
                td
                    concept-id=dataset.get('concept-id')
                td
                    entry-title=dataset.get('title')
                td
                    a(href=`${dataset.get('name')}`, title="link")=dataset.get('name')
